<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844662269813-f4bf1rbuohjsnqo7cjaf96gmhbr83l94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844662269813-f4bf1rbuohjsnqo7cjaf96gmhbr83l94</string>
	<key>API_KEY</key>
	<string>AIzaSyA1jgegpBlxtC5aOPC7MENU78V_ijslDpk</string>
	<key>GCM_SENDER_ID</key>
	<string>844662269813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryanlim.lottogenerator</string>
	<key>PROJECT_ID</key>
	<string>lottogenerator-ac07a</string>
	<key>STORAGE_BUCKET</key>
	<string>lottogenerator-ac07a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844662269813:ios:9ab1f9f232e10a7020953c</string>
</dict>
</plist>